/* Start Global Rules */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --border-color: #e9e6e6;

  /* Transition Cascades */
  --transition-duration: 0.3s;
  --transition-timout: ease-in-out;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "cairo", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  display: block;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
.container {
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 85%;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  border: 1px solid var(--main-color);
  width: fit-content;
  margin-inline: auto;
  margin-block: 5rem;
  padding: 5px 25px;
  position: relative;
  transition: all var(--transition-duration) var(--transition-timout) 0.3s;
  max-width: 100%;
}
.special-heading:hover {
  background-color: var(--main-color-alt);
  color: #fff;
}
.special-heading::before,
.special-heading::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  transition: all var(--transition-duration) var(--transition-timout);
}
.special-heading::before {
  inset-inline-start: -15px;
}
.special-heading::after {
  inset-inline-end: -15px;
}
.special-heading:hover::before {
  inset-inline-start: 0px;
}
.special-heading:hover::after {
  inset-inline-end: 0px;
}
/* End Components */
/* Start Header Section */
.page-header {
  background-color: #fff;
  box-shadow: rgb(131 131 131) 0px 0px 100px -24px;
}
.page-header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 515px) {
  .page-header .container {
    justify-content: center;
  }
}
.page-header .container > a.logo {
  color: var(--main-color);
  font-weight: bolder;
  font-size: 1.4rem;
}
.page-header .container > nav.page-nav {
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page-header .container > nav.page-nav > ul {
  display: flex;
  height: 100%;
}
.page-header .container > nav.page-nav > ul > li {
  display: flex;
  align-items: center;
  position: relative;
  transition: background-color var(--transition-duration)
    var(--transition-timout);
}
.page-header .container > nav.page-nav ul li:hover {
  background-color: rgb(247, 240, 240);
}
.page-header .container > nav.page-nav ul li::after {
  content: "";
  position: absolute;
  height: 5px;
  background: var(--main-color-alt);
  top: 0;
  left: 0;
  width: 0;
  transition: width var(--transition-duration) var(--transition-timout);
}
.page-header .container nav.page-nav ul li:hover::after {
  width: 100%;
}

.page-header a,
.page-header nav.page-nav li button {
  padding: clamp(1rem, 2vw, 3rem) clamp(0.7rem, 3vw, 5rem);
  color: #000;
  transition: var(--transition-duration) var(--transition-timout);
}
.page-header nav.page-nav > ul li:hover a {
  color: var(--main-color);
}
.page-header .container > .drop-container {
  position: absolute;
  top: calc(100% + 100px);
  opacity: 0;
  z-index: -1;
  display: flex;
  visibility: hidden;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  background-color: #fff;
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-timout);
}
.page-header
  .container:has(
    nav.page-nav li:last-child:hover,
    nav.page-nav li:last-child:focus-within,
    > .drop-container:hover,
    > .drop-container:focus-within
  )
  > .drop-container {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
@media (max-width: 768px) {
  .page-header .container > .drop-container {
    width: 100%;
    left: 0;
    padding: 0;
  }
}
.page-header .drop-container > figure {
  width: 300px;
}
@media (max-width: 992px) {
  .page-header .drop-container > figure {
    display: none;
  }
}
.page-header .drop-container > figure img {
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.page-header .drop-container > .links {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 400px) {
  .page-header .container > .drop-container .links {
    flex-direction: column;
  }
}
.page-header .drop-container > .links a {
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  font-weight: bold;
  color: var(--main-color-alt);
  display: flex;
  align-items: center;
  gap: 20px;
  padding-block: 20px;
}
@media (max-width: 400px) {
  .page-header .drop-container > .links a {
    font-size: 1rem;
    padding-block: 10px;
  }
}
.page-header .drop-container ul:nth-child(1) li:not(:last-child),
.page-header .drop-container ul:nth-child(2) li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
.page-header .drop-container ul:nth-child(1) li,
.page-header .drop-container ul:nth-child(2) li {
  transition: all var(--transition-duration) var(--transition-timout);
}
.page-header .drop-container > .links li {
  position: relative;
}
.page-header .drop-container > .links li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: rgb(197, 192, 192, 0.2);
  left: 0;
  transition: all var(--transition-duration) var(--transition-timout);
}
.page-header .drop-container > .links li:hover::before {
  width: 100%;
}
/* End Header Section */
body {
  background-color: rgb(236, 236, 236);
}
